* {
	margin: 0;
	padding: 0;
}

h6 {
  line-height: 48px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.my-item {
	overflow: hidden;
}

.my-select-list {
	padding: 10px;
}

.my-select {
	color: #0079FF;
	padding: 5px 10px;
	margin: 0px 5px;
	border: 1px solid buttonface;
	border-radius: 3px;
}

#my-button-hide-and-show {
	margin-left: 40px;
}

.my-bill-ul {
	padding: 10px 15px 20px 20px;
}

.my-bill-ul li {
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
}

.my-label li:nth-child(odd) {
	background-color: #F0F0F0;
}

.my-room {
	float: left;
	margin-right: 15px;
}

.my-money {
	float: left;
	margin-right: 50px;
}

.my-label {
	margin-right: 15px;
}

.my-label button {
	height: 22px;
	width: 60px;
	font-size: 0.7em;
	padding: 3px;
}

.my-label .my-paid {
	background-color: #A1A1A1;
	color: #FFFFFF;
	border-radius: 2px;
}

.my-label .my-unpaid {
	background-color: #0079FF;
	color: #FFFFFF;
	border-radius: 4px;
}

.my-floor {
	display: none;
}

.my-floor-show {
	display: block;
}

.my-bill {
	display: none;
}

.my-show {
	display: block;
}